* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Quickpay/Images/citysunsetbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.quickpay {
    width: 700px;
    padding: 50px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

header h1 {
    margin: 0;
    font-size: 42px;
}

header p {
    margin-top: 10px;
    color: #666666;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 50px 0;
}

.clock,
.credit-card {
    text-align: center;
}

.clock img,
.credit-card img {
    width: 140px;
    height: 140px;
}

.clock h2,
.credit-card h2 {
    font-size: 18px;
    margin-top: 10px;
}

.payment-status h2 {
    margin-bottom: 8px;
}

.payment-status p {
    color: #666666;
}

button {
    margin-top: 25px;
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #666666;
}


@keyframes clockPulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.clock-svg {
    animation: clockPulse 2s ease-in-out infinite;
}